@import url("../css/header/header.css");
@import url("../css/main/main.css");
@import url("../css/footer/footer.css");

:root {
  --color-black: #333;
  --color-white: #fff;
  --color-orange-peel: #FF9900;
  --color-christine: #E1670E;
  --color-silver: #CACACA;
  --color-casablanca: #F7B045;
  --color-dove-gray: #666;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
  url("../fonts/montserrat-regular-webfont.woff") format("woff"),
  url("../fonts/montserrat-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"),
  url("../fonts/montserrat-medium-webfont.woff") format("woff"),
  url("../fonts/montserrat-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
  url("../fonts/montserrat-semibold-webfont.woff") format("woff"),
  url("../fonts/montserrat-semibold-webfont.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
  url("../fonts/montserrat-bold-webfont.woff") format("woff"),
  url("../fonts/montserrat-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"),
  url("../fonts/montserrat-extrabold-webfont.woff") format("woff"),
  url("../fonts/montserrat-extrabold-webfont.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  background-color: var(--color-mercury-solid);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
}

.list-reset {
  padding: 0;
  list-style: none;
}

.btn-reset {
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1920px;
  padding: 0 75px;
  margin: 0 auto;
}

.btn-orange {
  background-color: var(--color-orange-peel);
  color: var(--color-white);
}

.section-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-black);
}

/* swiper */

.swiper-container {
  position: relative;
  width: 100%;
  height: 620px;
  overflow: hidden;
}

.swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.4);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  margin-right: 20px;
}

.swiper-horizontal > .swiper-pagination-bullets {
  bottom: 25px;
  left: 11px;
}

.swiper-pagination-bullet-active {
  background: var(--color-white);
}

/* accordion */

.ui-accordion .ui-accordion-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  outline: none;
  margin-bottom: -1px;
  padding-top: 32px;
  padding-bottom: 28px;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  transition-property: border-color, color;
  transition-duration: .3s;
  transition-timing-function: ease;
  transition-delay: .3s;
  z-index: 50;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background: none;
  border: none;
}

.ui-accordion .ui-accordion-header-active {
  padding-bottom: 21px;
  border-bottom: none;
}

.ui-accordion-header-active .questions__btn {
  transform: rotate(45deg);
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  background: none;
  border: none;
}

.quations__accordion:hover {
  border-color: var(--color-orange-peel);
  border-top: 1px solid var(--color-orange-peel);
  transition: border-color .1s ease-in-out;
  z-index: 51;
}

.quations__accordion:focus-visible {
  border-color: var(--color-orange-peel);
  z-index: 51;
}

.quations__accordion:hover .questions__text {
  color: var(--color-orange-peel);
}

.quations__accordion:focus-visible .questions__text {
  color: var(--color-orange-peel);
}

.quations__accordion:hover .questions__btn {
  background-color: var(--color-orange-peel);
}

.quations__accordion:hover .questions__btn::after {
  background-color: var(--color-white);
}

.quations__accordion:hover .questions__btn::before {
  background-color: var(--color-white);
}

.quations__accordion:focus-visible .questions__btn {
  background-color: var(--color-orange-peel);
}

.quations__accordion:focus-visible .questions__btn::after {
  background-color: var(--color-white);
}

.quations__accordion:focus-visible .questions__btn::before {
  background-color: var(--color-white);
}

.ui-icon {
  display: none;
}

.ui-accordion .ui-accordion-content {
  padding: 0;
  max-width: 1003px;
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.ui-widget {
  font-family: Montserrat;
}

.ui-widget-content {
  border: none;
  color: #333;
}


@media (max-width: 1600px) {
  .about-us__text {
    margin-right: 25px;
  }

  .footer__left {
    margin-right: 74px;
  }
}

@media (max-width: 1450px) {
  .header__item:not(:last-child) {
    margin-right: 70px;
  }

  .header__item:last-child {
    padding-right: 70px;
  }

  .footer__left {
    margin-right: 34px;
  }
}

@media (max-width: 1399px) {
/*   .container {
    max-width: 1240px;
    padding: 0 50px;
  } */

  .header {
    padding-bottom: 21px;
    padding-top: 27px;
  }

  .header__burger {
    display: block;
    padding: 0;
    cursor: pointer;
  }

  .header__burger:focus {
    outline: 2px solid var(--color-orange-peel);
    outline-offset: 5px;
  }

  .haeder__serach {
    top: 4%;
    padding: 10px 13px;
  }

  .header__search--active {
    width: 294px;
  }

  .header__link {
    max-width: 150px;
    margin-right: 4px;
  }

  .header__list {
    display: none;
  }

  .hero {
    margin-bottom: 82px;
  }

  .swiper-container {
    height: 668px;
  }

  .swiper-slide--one {
    background-image: url('../img/hero1024-1.webp');
  }

  .swiper-slide--two {
    background-image: url('../img/hero1024-2.webp');
  }

  .swiper-slide--three {
    background-image: url('../img/hero1024-3.webp');
  }

  .hero__content {
    padding: 160px 77px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__title {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__descr {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24px;
  }

  .about-us {
    margin-bottom: 83px;
  }

  .about-us__left2 {
    display: none;
  }

  .about-us__title {
    margin-bottom: 8px;
  }

  .about-us__descr {
    margin-bottom: 62px;
  }

  .about-us__aside {
    flex-direction: column;
  }

  .about-us__left {
    width: 100%;
    min-height: 640px;
    margin-right: 0;
    margin-bottom: 32px;
    background-image: url("../img/aboutus1024.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about-us__right {
    width: 100%;
  }

  .about-us__item {
    padding: 61px 76px;
  }

  .about-us__item:not(:last-child) {
    margin-bottom: 33px;
  }

  .work {
    margin-bottom: 82px;
  }

  .work__list {
    margin-bottom: 60px;
  }

  .work__left {
    margin-right: 50px;
  }

  .work-left__title {
    margin-bottom: 11px;
  }

  .work-left__descr {
    margin-bottom: 24px;
  }

  .work-left__btn {
    padding: 19px 38px;
  }

  .work-left__btn-one {
    margin-right: 31px;
  }

  .work__right {
    width: 48%;
    max-width: 437px;
  }

  .work__right--one {
    background-image: url('../img/work1024-1.webp');
  }

  .work__right--two {
    background-image: url('../img/work1024-2.webp');
  }

  .work__right--three {
    background-image: url('../img/work1024-3.webp');
  }

  .work__right--four {
    background-image: url('../img/work1024-4.webp');
  }

  .questions {
    margin-bottom: 80px;
  }

  .questions__title {
    margin-bottom: 29px;
  }

  .questions__text {
    max-width: 756px;
    font-size: 20px;
  }

  .footer__wrap {
    align-items: flex-start;
  }

  .footer__left {
    margin-right: 114px;
  }

  .footer__center {
    max-width: 541px;
    margin-right: 0;
  }

  .footer__title {
    margin-bottom: 27px;
  }

  .footer-form__input {
    min-width: 541px;
  }

  .footer-form__btn {
    max-width: 240px;
    padding: 19px 36px;
  }

  .footer-form__check {
    width: 52%;
    padding-left: 20px;
    padding-top: 5px;
  }

  .footer__right {
    display: none;
  }

  .footer-item__mobile {
    display: none;
  }
}

@media (max-width: 922px) {
  /* .container {
    max-width: 768px;
    padding: 0 50px;
  } */

  .header {
    padding-top: 10px;
    padding-bottom: 7px;
  }

  .header__menu {
    min-height: 732px;
  }

  .haeder__serach {
    top: 10%;
    padding: 8px 13px;
  }

  .hero {
    margin-bottom: 83px;
  }

  .swiper-container {
    height: 662px;
  }

  .hero__content {
    padding: 160px 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__title {
    font-size: 50px;
    line-height: 61px;
  }

  .hero__descr {
    font-size: 18px;
    line-height: 22px;
  }

  .hero__btn {
    line-height: 28px;
  }

  .about-us__left2 {
    display: none;
  }

  .about-us__inner {
    padding: 34px 40px;
  }

  .about-us__text {
    max-width: 366px;
  }

  .about-us__descr {
    margin-bottom: 59px;
  }

  .about-us__left {
    min-height: 650px;
  }

  .about-us__item {
    padding: 34px 40px;
  }

  .about-us__card {
    padding-left: 16px;
  }

  .work {
    margin-bottom: 83px;
  }

  .work__title {
    margin-bottom: 47px;
  }

  .work__list {
    max-width: none;
    margin-bottom: 48px;
  }

  .work__content {
    flex-direction: column-reverse;
  }

  .work__left {
    width: 100%;
    margin-right: 0;
    padding-top: 332px;
  }

  .work__right--one {
    background-image: url('../img/work768-1.webp');
  }

  .work__right--two {
    background-image: url('../img/work768-2.webp');
  }

  .work__right--three {
    background-image: url('../img/work768-3.webp');
  }

  .work__right--four {
    background-image: url('../img/work768-4.webp');
  }

  .work-left__descr {
    margin-bottom: 25px;
  }

  .work-left__btns {
    max-width: 355px;
  }

  .work-left__btn-one {
    margin-right: 31px;
  }

  .work__right {
    width: 100%;
    max-width: none;
    height: 284px;
    top: 0;
    left: 0;
  }

  .work-right__pic {
    width: 100%;
  }

  .questions__title {
    margin-bottom: 29px;
  }

  .questions__text {
    max-width: 570px;
  }

  .footer__wrap {
    flex-direction: column-reverse;
  }

  .footer__link {
    margin-bottom: 11px;
  }

  .footer__title {
    margin-bottom: 23px;
    line-height: 61px;
  }

  .footer__center {
    margin-bottom: 50px;
  }

  .footer__nav {
    display: none;
  }

  .footer-item__mobile {
    display: none;
  }
}

@media (max-width: 630px) {
  .container {
    max-width: 320px;
    padding: 0 15px;
  }

  .section-title {
    font-size: 24px;
    line-height: 29px;
  }

  .header {
    padding-bottom: 12px;
    padding-top: 17px;
  }

  .header__menu {
    width: 100%;
    min-height: 378px;
    padding: 23px 15px;
  }

  .header-menu__btn {
    margin-bottom: 32px;
  }

  .header-menu__item {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  .header-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .header__link {
    max-width: 110px;
    margin-right: 5px;
  }

  .haeder__serach {
    top: 15%;
    right: 13px;
    padding: 0;
    border-radius: 0;
  }

  .header__search--active {
    width: 102%;
    padding: 9px 0;
    top: -17px;
    right: -4px;
    height: 69px;
    box-shadow: none;
  }

  .header__input {
    padding: 0;
  }

  .header__input--active {
    padding: 3px;
    margin-right: 0;
  }

  .header__btn--active {
    margin-right: 20px;
  }

  .header__closed-active {
    margin-right: 2px;
  }

  .hero {
    margin-bottom: 60px;
  }

  .swiper-container {
    height: 308px;
  }

  .swiper-slide--one {
    background-image: url('../img/hero320-1.webp');
  }

  .swiper-slide--two {
    background-image: url('../img/hero320-2.webp');
  }

  .swiper-slide--three {
    background-image: url('../img/hero320-3.webp');
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-horizontal > .swiper-pagination-bullets {
    bottom: 10px;
    left: 10px;
  }

  .hero__content {
    align-items: center;
    padding: 61px 22px;
  }

  .hero__title {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .hero__descr {
    margin-bottom: 31px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .hero__btn {
    max-width: 162px;
    padding: 12px 27px;
    font-size: 12px;
    line-height: 15px;
  }

  .about-us {
    margin-bottom: 60px;
  }

  .about-us__title {
    margin-bottom: 20px;
  }

  .about-us__descr {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 28px;
  }

  .about-us__left {
    display: none;
  }

  .about-us__left2 {
    display: block;
    margin-bottom: 44px;
  }

  .about-us__item:not(:last-child) {
    margin-bottom: 31px;
  }

  .about-us__picture {
    margin-bottom: 5px;
  }

  .about-us__text {
    margin-bottom: 19px;
    color: var(--color-black);
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .about-us__btn {
    padding: 12px 42px;
    color: var(--color-orange-peel);
    border: 2px solid var(--color-orange-peel);
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  .about-us__item {
    flex-direction: column;
    align-items: flex-start;
    border: none;
    padding: 0;
  }

  .about-us__card {
    padding: 0;
  }

  .about-us__pic {
    margin-bottom: 8px;
  }

  .about-us-card__title {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .about-us-card__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .work {
    margin-bottom: 62px;
  }

  .work__title {
    margin-bottom: 20px;
  }

  .work__list {
    margin-bottom: 15px;
  }

  .work__item:not(:last-child) {
    margin-right: 44px;
  }

  .work__link {
    font-size: 14px;
    line-height: 17px;
  }

  .work__left {
    padding-top: 177px;
  }

  .work__right {
    height: 160px;
  }

  .work-left__title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .work-left__descr {
    width: 100%;
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 28px;
  }

  .work-left__btns {
    max-width: 100%;
  }

  .work-left__btn {
    font-size: 12px;
    line-height: 16px;
  }

  .work-left__btn-one {
    max-width: 162px;
    padding: 12px 44px;
    margin-right: 10px;
  }

  .work-left__btn-two {
    max-width: 118px;
    padding: 11px 31px;
  }

  .questions {
    margin-bottom: 60px;
  }

  .questions__title {
    margin-bottom: 14px;
  }

  .questions__text {
    max-width: 243px;
    margin-right: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .questions__btn {
    min-width: 30px;
    min-height: 30px;
    padding: 6px;
  }

  .questions__btn::after {
    width: 19px;
  }

  .questions__btn::before {
    width: 19px;
  }

  .footer__wrap {
    justify-content: center;
    align-items: center;
    padding: 32px 0;
  }

  .footer__center {
    max-width: 290px;
    margin-bottom: 16px;
  }

  .footer__title {
    margin-bottom: 21px;
    font-size: 24px;
    line-height: 29px;
  }

  .footer-form__top {
    margin-bottom: 25px;
  }

  .footer-form__input {
    min-width: 290px;
    padding: 14px 20px;
    font-size: 14px;
    line-height: 32px;
  }

  .footer-form__textaria {
    padding: 14px 20px;
    font-size: 14px;
    line-height: 32px;
  }

  .footer-form__bottom {
    flex-direction: column;
    max-width: 290px;
  }

  .footer-form__btn {
    width: 62%;
    margin-bottom: 7px;
    padding: 13px 24px;
    font-size: 12px;
    line-height: 15px;
  }

  .footer-form__check {
    width: 100%;
    padding-left: 24px;
    padding-bottom: 15px;
    border-bottom: 1px solid #635252;
  }

  .footer__left {
    align-items: center;
    margin: 0;
  }

  .footer__link {
    margin-bottom: 11px;
  }

  .footer__logo {
    max-width: 131px;
  }

  .footer-item__pic {
    display: none;
  }

  .footer-item__mobile {
    display: block;
  }

  .footer-item__link:hover .footer-item__mobile path {
    fill: var(--color-orange-peel);
  }

  .footer-item__link:active .footer-item__mobile path {
    fill: var(--color-christine);
  }

  .footer__item:not(:last-child) {
    margin-right: 16px;
  }
}

