.hero {
  margin-bottom: 104px;
}

.hero__content {
  position: absolute;
  top: 0;
  bottom: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 80px;
  z-index: 100;
}

.swiper-slide--one {
  background-image: url('../../img/hero1.webp');
}

.swiper-slide--two {
  background-image: url('../../img/hero2.webp');
}

.swiper-slide--three {
  background-image: url('../../img/hero3.webp');
}

.hero__title {
  max-width: 837px;
  margin: 0;
  margin-bottom: 24px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--color-white);
}

.hero__descr {
  max-width: 790px;
  margin: 0;
  margin-bottom: 90px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-white);
}

.hero__btn {
  max-width: 281px;
  padding: 25px 36px;
  border: none;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
  word-spacing: 2px;
  transition: background-color .2s ease-in-out;
}

.hero__btn:hover {
  background-color: rgba(255, 153, 0, 0.7);
}

.hero__btn:focus {
  outline: none;
  background-color: rgba(255, 153, 0, 0.7);
}

.hero__btn:active {
  background-color: var(--color-christine);
}
